<%= link_to "New", new_employee_path %>
<table>
    <th>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </th>
    <tbody>
        <% @employee.each do |employee| %>
        <tr>
            <td><%= employee.name%></td>
            <td><%= employee.email%></td>
            <td>
                <%= link_to "Show", employee_path(employee.id)%>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

